TZ="Asia/Tokyo"

POSTGRES_HOST="db_prod"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"
POSTGRES_DB="db"
POSTGRES_PORT="5432"

NLP_HOST="nlp_prod"
NLP_PORT="8000"

OPENAI_API_KEY=""
OPENAI_MODEL_NAME="gpt-4.1-2025-04-14"
